<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vote.mapper.candidateMapper">

	<insert id="insert">
		INSERT INTO candidate VALUES(#{num}, #{name})
	</insert>
	
	<select id="select" resultType="candidateVO">
		SELECT num, name FROM candidate
	</select>
	
	<select id="selectOne" resultType="candidateVO">
		SELECT num, name FROM candidate WHERE num = #{num}
	</select>
	
	<delete id="delete">
		DELETE FROM candidate WHERE num = #{num}
	</delete>
	
</mapper>

